<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="基于webpack4.x, babel7.x 开发可复用的现代化网站">
  <title>
    <% if (pageTitle) { %> <%= pageTitle %> - <% }  %> LoadingMore
  </title>
  <!--[if lt IE 9]>
    <% for(var i in STATIC_BUILD.fixIe){ %>
      <script type="text/javascript" src="<%= STATIC_BUILD.fixIe[i] %>"></script>
    <% } %>
  <![endif]-->
</head>
<body>