<!-- ejs模板测试 -->
<% for (var i = 0; i < index.length; i++) {%>
  <li class="wbs-home_dynamic-inject-item">
    <i class="<%= index[i].icon %>"></i><br />
    <a href="<%= index[i].link%>"><%= index[i].key%></a>
  </li>
<%}%>