<footer class="footer">
    Made with
    <i class="iconfont icon-heart-fill footer-btn"></i>
    <a href="https://github.com/BiYuqi/webpack-seed" target="_blank" rel="noopener noreferrer">BiYuqi</a>
</footer>