<footer class="ws-footer blog-footer my-md-5">
    Made with
    <i class="iconfont icon-heart-fill ws-footer_btn"></i>
    <a href="https://github.com/BiYuqi/webpack-seed" target="_blank" rel="noopener noreferrer">BiYuqi</a>
</footer>
