@import '../assets/fonts/iconfont.css';
@import '../assets/css/normalize.css';
@import './reset.scss';
@import './common.scss';

#web-ejs-wrap {
  min-height: 100%;
  background-color: #fff;
  .web-ejs-inside {
    padding-bottom: 50px;
  }
}
