@import '../assets/fonts/iconfont.css';
@import './variable';
@import './reset.scss';

.ws-main {
  /** 移除了header & footer高度 */
  min-height: calc(100% - 200px);
  background-color: #fff;

  &__inner {
    /** footer 始终在最下方 */
    padding-bottom: 50px;
  }
}

.ws-footer {
  height: 120px;
  line-height: 120px;
  text-align: center;
  /** footer 始终在最下方 */
  margin-top: -50px;
  color: #fff;
  font-weight: bold;
  background-color: #3b454a;
  .icon-heart-fill {
    color: red;
  }
}
