@mixin abs($top: 0, $right: 0, $bottom: 0, $left: 0) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin fixed($top: 0, $right: 0, $bottom: 0, $left: 0) {
    position: fixed;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin flex($z: center, $v: center, $dir: row) {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: $z;
    -moz-box-pack: $z;
    -ms-flex-pack: $z;
    justify-content: $z;
    -webkit-box-align: $v;
    -moz-box-align: $v;
    -ms-flex-align: $v;
    align-items: $v;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: $dir;
    flex-direction: $dir;
}

@mixin lh($z) {
    height: $z;
    line-height: $z;
}

@mixin tf($x:-50%, $y:-50%) {
    -webkit-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
    transform: translate($x, $y);
}

@mixin mr($z) {
    margin-bottom: $z;
}

// 按钮颜色
$baseBtn: #00c7b7;
// 背景颜色
$baseBg: #0e1e25;