<div class="wbs-login">
  <img height="150" src="<%= require('assets/image/webpack-seed.png') %>" alt="webpack-seed-logo">
  <div class="wbs-login_form">
    <button class="wbs-test-btn wbs-login_btn" title="点击回到首页">webpack-seed 登录页面</button>
  </div>
</div>