<form class="form-signin">
  <img class="mb-4" src="<%= require('@common/assets/image/webpack-seed-logo.png') %>" width="72" height="72" alt="webpack-seed-logo">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block ws-login_btn" type="submit">
    Sign in
  </button>
  <p class="mt-5 mb-3 text-muted">© 2018-2021</p>
</form>
