<div id="wrap" style="text-align: center;line-height: 50px;">
  <h1 class="index-title"></h1>
  <h3>
    <a href="html/about.html">关于页面</a>
  </h3>
  <h3>
    <a href="html/setting.html">设置页面</a>
  </h3>
</div>