<div class="jumbotron">
  <h1 class="display-4">欢迎使用Webpack Seed!</h1>
  <p class="lead">
    Webpack Seed是一个开箱即用的多页面脚手架, 基于webpack4, babel7等工具,
    意图实现可复用的现代化网站, 解决非SPA应用, html模板复用, 样式复用, 模块化开发编译等问题
  </p>
  <hr class="my-4">
  <p>如果感兴趣该项目, 请点个 <a href="https://github.com/BiYuqi/webpack-seed/stargazers">star</a></p>
  <p>想及时关注项目更新, 请点个 <a href="https://github.com/BiYuqi/webpack-seed/watchers">watch</a></p>
  <p>项目bug或者好的想法, 请提<a href="https://github.com/BiYuqi/webpack-seed/issues">Issue</a></p>
  <a class="btn btn-primary btn-lg" target="_blank" href="https://github.com/BiYuqi/webpack-seed" role="button">源码</a>
</div>
<ul class="ws-home__content list-group"></ul>
