@import './normalize.css';

html, body {
  height: 100%;
  margin: 0;
}
ul, ol {
  margin: 0;
  padding: 0;
}
.test-btn{
  border: none;
  outline: none;
  background-color: #15a6bd;
  padding: 8px 15px;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
}
#web-ejs-wrap {
  min-height: 100%;
  .web-ejs-inside {
    padding-bottom: 50px;
  }
  .web-ejs-inside .header{
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background-color: #2995c9;
  }
}
.footer {
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: -50px;
  color: #fff;
  font-weight: bold;
  background-color: #2995c9;
}
