<div class="wbs-test-page">
  <h1 class="wbs-test-page_title"></h1>
</div>
<div class="wbs-test-page_content">
  <div class="wbs-test-page_left">
    <div class="wbs-test-page_js-box">
      <button class="wbs-test-page_about-btn wbs-test-page_about-test">点击测试js是否注入</button>
    </div>
    <div class="wbs-test-page_img-box">
      <img src="<%= require('assets/image/demo.png') %>" width="600" alt="">
    </div>
  </div>
  <div class="wbs-test-page_right">
    <div class="wbs-test-page_ajax-box">
      <button class="wbs-test-page_about-btn wbs-test-page_about-ajax">点击测试接口请求</button>
    </div>
    <ul class="wbs-test-page_movie"></ul>
  </div>
</div>
