<div class="row">
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">测试JS事件</h5>
        <p class="card-text">测试逻辑是否生效.</p>
        <a href="javascript:;" class="btn btn-primary js-btn">点击</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card mb-4 shadow-sm" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">测试接口请求</h5>
        <p class="card-text">本项目使用axios作为接口请求工具</p>
        <a href="javascript:;" class="btn btn-primary axios-btn">点击</a>
      </div>
    </div>
  </div>
</div>
