<header class="header">
    <div class="header-btn test-btn">
        <img height="38" src="<%= require('assets/image/webpack-seed-logo.png') %>" alt="webpack-seed-logo">
        Webpack-seed
    </div>
</header>
