<h1 class="about-title"></h1>
<div class="js-box">
  <button class="about-btn">点击测试js是否注入</button>
</div>
<div class="img-box">
  <img src="<%= require('assets/image/demo.png') %>" width="600" alt="">
</div>