<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">Webpack Seed</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="/index.html">首页</a>
    <a class="p-2 text-dark" href="/html/test-page.html">测试页</a>
    <a class="p-2 text-dark" href="/html/fonts-page.html">图标页面</a>
  </nav>
  <a class="btn btn-outline-primary" href="/html/login-page.html">登录</a>
</div>
