<header class="wbs-header">
    <div class="wbs-header_btn wbs-header_btn-test">
        <img height="38" src="<%= require('assets/image/webpack-seed-logo.png') %>" alt="webpack-seed-logo">
        Webpack-seed
    </div>
</header>
